{% extends 'boozing/base.html' %}

{% block content %}

    <div class="alco_card">
            <div class="alco_card_line">
                <div>
                    {{ drink.name }}
                </div>
                <div>{{ drink.drink_type.name }}</div>
            </div>
            <div class="alco_card_line">
                <div>{{ drink.alcohole }}</div>
                <div>{{ drink.volume }}</div>
                <div>{{ drink.avg_price }}</div>
                <div>{{ drink.raiting }}</div>
            </div>
        </div>

{% endblock %}



